<div class="well row">
  <div class="list-group">
    <%= render "service", url: "microblading.png", name: "MicroBlading", price: "400", description: "You will need to come back in 4-6 weeks for a Touch Up" %>
    <%= render "service", url: "microblading.png", name: "MicroBlading - 4-6 week Touchup", price: "100", description: "A Touch Up is required 4-6 weeks after initial service" %>
    <%= render "service", url: "microblading.png", name: "MicroBlading - 1yr Refresh", price: "350", description: "Only offered within 1 year of initial Microblading service" %>
 </div>
</div>
