<ul class="nav nav-tabs">
    <li class="active"><a href="#hair" data-toggle="tab">COVID-19 Update</a></li>
  
    <li id="address" data-toggle="modal" data-target="#complete-dialog" title="Location & Hours"><a href="javascript:void(0)">96 Columbia St.</a></li>
</ul>
<div id="myTabContent" class="tab-content">
  <div id="hair" class="info tab-pane fade in active">
    <div class="well row">
      <p>Due to Covid, we are updating our facilities and services. Please check the <a href="https://square.site/book/1J7C9Q0ZA517W/burnt-district-salon-spa-seattle-wa">online schedule</a> for the latest in availability and pricing.</p>
    </div>
  </div>
</div>
