<div class="col-lg-4 col-sm-6">
  <div class="list-group-item">
    <div class="row-picture">
      <%= image_tag("services/#{url}", class: "circle") %>
    </div>
    <div class="row-content">
      <div class="least-content">$<%= price %></div>
      <h4 class="list-group-item-heading"><%= name %></h4>
      <% if defined? description %>
        <p class="list-group-item-text"><%= description %></p>
      <% end %>
    </div>
  </div>
  <div class="list-group-separator"></div>
</div>
